---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
//import EnergyArbitrageCalculator from '~/components/widgets/EnergyArbitrageCalculator.astro';
import HomeEnergyStorageNote from '~/components/notes/HomeEnergyStorageNote.astro';

const metadata = {
  title: 'Home Energy Storage',
  description: 'Unlock the potential of home energy storage systems for a sustainable, efficient future. Explore how these solutions offer cost savings, enhanced efficiency, and align with the Inflation Reduction Act, providing reliable backup and integrating seamlessly with solar power.',
  keywords: 'home energy storage, solar power storage, backup battery, batteries for home ',
  // Add other relevant metadata here
};

---
<!-- <head>
  <title>{metadata.title}</title>
  <meta name="description" content={metadata.description} />
  <meta property="og:title" content={metadata.title} />
  <meta property="og:description" content={metadata.description} /> -->
  <!-- <meta property="og:image" content={metadata.imageUrl} /> -->
  <meta property="og:type" content="website" />
    <!-- Twitter Card meta tags -->
    <!-- <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metadata.title} />
    <meta name="twitter:description" content={metadata.description} /> -->
    <!-- <meta name="twitter:image" content={metadata.imageUrl} /> -->
    <!-- <meta name="twitter:image:alt" content="A brief description of the image" />
</head> -->


<Layout metadata={metadata}>
  
  <Hero actions={[]} videoSrc="/images/home-energy-storage-video.mp4">
    <Fragment slot="title">
        <h1 class="text-left text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-bold leading-tight tracking-tighter font-heading">
          Home Energy Storage
        </h1>
    </Fragment>
  </Hero>
  
  <HomeEnergyStorageNote />

  <!-- <EnergyArbitrageCalculator /> -->

  <section class="container mx-auto p-10"></section>

  <Features3
  id="features"
  title="Take Charge with Home Energy Storage"
  tagline= 'Hold The Power'
  subtitle="Put the power back in your hands with home energy storage, enabling self-reliance and uninterrupted energy supply."

  columns={2}
  items={[
    {
      title: 'Backup Battery',
      description: 'Acting as a resilient backup, the home energy storage system ensures your critical appliances remain operational during outages, bolstering your homes energy self-reliance.',
      icon: 'tabler:battery-3',
    },
    {
      title: 'Energy Arbitrage',
      description: 'Capitalize on lower electricity rates by storing energy and utilizing it during high-cost peak hours, a savvy strategy known as energy arbitrage that trims down your energy expenses.',
      icon: 'tabler:clock-bolt',
    },
    {
      title: 'Wind or Solar Storage',
      description: 'Bank your surplus wind or solar energy for times when production dips, ensuring a consistent, uninterrupted electricity supply from your renewable installations.',
      icon: 'tabler:sun-wind',
    },
    {
      title: 'Grid Independence',
      description: 'Strengthen your home\'s energy sovereignty with a personal power reserve that curtails dependence on external energy sources and contributes to a more sustainable grid.',
      icon: 'tabler:home-bolt',
    },
  ]}
  image={{
    src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/home-energy-storage-page-art.png?raw=true',
    alt: 'sleek image of Lithium table',
  }}
/>


<!-- <EnergyArbitrageCalculator /> -->

  <!-- Featured Articles Widget -->
  <FeaturedArticles 
    title="Featured Articles" 
    articleSlugs={[
      'the-growing-importance-of-backup-batteries-in-todays-world',
      'what-is-energy-arbitrage',
      'decoding-portable-power-station-comparison-tables',
      'ecoflow-delta-pro-buying-guide',
      'bluetti-power-stations-buying-guide',
      'solar-batteries-are-automating-energy-management',
      'unlocking-energy-independence-with-sonnen-solar-batteries',
    ]}
  />

  <FAQs
  title="Frequently Asked Questions"
  columns={1}
  items={[
    {
      title: 'What is Home Energy Storage?',
      description: 'Home energy storage uses advanced battery systems to store electricity for future use. These systems can capture energy from various sources, including the grid, solar panels, and wind turbines. They serve as a backup power source during outages and help optimize energy costs.'
    },
    {
      title: 'Are Solar Panels Required to Claim a Home Battery Tax Credit?',
      description: 'As of early 2023, you can claim the Residential Clean Energy Credit for a standalone battery purchase. While pairing a battery with solar panels maximizes savings and grid independence, a home battery alone can also provide benefits like emergency backup power and energy arbitrage opportunities.'
    },
    {
      title: 'What Are Time-of-Use (TOU) Rates?',
      description: 'Time-of-Use rates are fluctuating electricity prices that depend on the time of day. These rates are lower during off-peak hours and higher during peak demand times. A home energy storage system enables you to strategically use stored energy to avoid higher rates.'
    },
    {
      title: 'Can I Integrate a Home Battery with My Existing Solar Panel System?',
      description: 'Integrating a home battery with an existing solar panel system largely depends on your current inverter setup and the type of battery you choose. However, many universal home battery options are designed to be compatible with a variety of solar inverter systems, making integration relatively straightforward.'
    }
  ]}
>
  
</FAQs>

</Layout>

