---
import { twMerge } from 'tailwind-merge';
import type { Card } from '~/types'; // Import Card from types
import Button from './Button.astro';

const { items = [], columns, classes = {} } = Astro.props as { items: Card[], columns: number, classes: any };

const {
  container: containerClass = '',
  card: cardClass = '',
  title: titleClass = 'text-2xl font-bold text-white',  // Increased size and changed color
  image: imageClass = 'w-full h-48 object-cover mb-4 rounded',  
  topSellingPoints: topSellingPointsClass = 'text-lg text-white mb-1',  // Increased size and changed color
  priceRange: priceRangeClass = 'text-xl font-semibold mb-2 text-white',  // Increased size and changed color
  price: priceClass = ''
} = classes;
---

{
  items && (
    <div
      class={twMerge(
        `grid mx-auto gap-8 md:gap-y-12 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
            ? 'lg:grid-cols-3 sm:grid-cols-2'
            : columns === 2
            ? 'sm:grid-cols-2 '
            : ''
        }`,
        containerClass
      )}
    >
      {items.map(({ title, imageSrc, topSellingPoints, priceRange, shopButton }) => (
        <div class={twMerge('flex flex-col max-w-md p-4 border rounded shadow-lg bg-gray-800', cardClass)}>  <!-- Changed background color -->
          {imageSrc && (
            <img src={imageSrc} alt={title} class={imageClass} />
          )}
          {title && (
            <h3 class={twMerge(titleClass)}>{title}</h3>
          )}
          {topSellingPoints && topSellingPoints.map(point => (
            <p class={topSellingPointsClass}>• {point}</p>
          ))}
          {priceRange && (
            <p class={twMerge(priceRangeClass, priceClass)}>{priceRange}</p>
          )}
          {shopButton && (
            <div class={twMerge('mt-auto')}>
              <Button variant="primary" class="bg-blue-500 text-white px-4 py-2 rounded" {...(shopButton as unknown as object)} />
            </div>
          )}
        </div>
      ))}
    </div>
  )
}
