---
import { twMerge } from 'tailwind-merge';
import type { Card } from '~/types';
import Button from './Button.astro';

const { items = [], columns, classes = {} } = Astro.props as { items: Card[], columns: number, classes: any };

const {
  container: containerClass = 'max-w-5xl mx-auto px-4',
  card: cardClass = 'overflow-hidden shadow-lg rounded-lg',
  title: titleClass = 'text-2xl font-bold text-white h-16',
  image: imageClass = 'transition-transform duration-300 ease-in-out hover:scale-105 w-full h-64 object-cover mb-4 rounded',
  topSellingPoints: topSellingPointsClass = 'text-lg text-white mb-1 truncate w-96',
  avgPrice: avgPriceClass = 'text-xl font-semibold mb-2 text-green-600 pr-8',
} = classes;

---
<style>
  /* Your CSS styles */
  @media (max-width: 640px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .card {
      margin-left: auto;
      margin-right: auto;
    }
  }
  </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{
  items && (
    <div class={twMerge(`grid gap-8 md:gap-y-12 max-w-custom ${columns === 4 ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 sm:ml-2' : columns === 3 ? 'lg:grid-cols-3 sm:grid-cols-2 sm:ml-2' : columns === 2 ? 'sm:grid-cols-2 sm:ml-2' : 'sm:ml-2'}`, containerClass)}>
      {items.map(({ title, imageSrc, topSellingPoints, avgPrice, shopButton, shopAmazonButton }) => (
        <div class={twMerge('card-hover relative flex flex-col max-w-sm p-4 border rounded shadow-lg bg-gray-800 hover:bg-gray-700 hover:shadow-xl transition duration-300', cardClass)}>
          {/* Product Title */}
          {title && (
            <h3 class={twMerge(titleClass, 'mb-2 text-center')}>{title}</h3>
          )}
          {/* Product Image */}
          {imageSrc && (
            <img src={imageSrc} alt={title} class={twMerge(imageClass)} loading="lazy" />
          )}
          {/* Top Selling Points */}
          {topSellingPoints && topSellingPoints.map((point) => (
            <p class={twMerge(topSellingPointsClass)}>
              <i class="fas fa-check text-green-500 mr-2"></i>{point}
            </p>
          ))}
          {/* Average Price */}
          {avgPrice && (
            <div>
              <span class="text-white">Avg Price: </span>
              <span class={twMerge(avgPriceClass)}>{avgPrice}</span>
            </div>
          )}
          <div class="flex justify-between items-center mt-auto">
            {/* Shop Now Button */}
            {shopButton && (
              <Button variant="primary" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-300" {...(shopButton as unknown as object)} />
            )}
            {/* Shop Amazon Button */}
            {shopAmazonButton && (
              <Button variant="primary" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-300" {...(shopAmazonButton as unknown as object)} />
            )}
          </div>
        </div>
      ))}
    </div>
  )
}
